body {
    background: linear-gradient(0deg, rgb(0, 71, 148), rgb(255, 255, 255));
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}

header {}

header nav {}

header nav ul {}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-weight: 500;
}

main {}

main h1 {
    font-family: sans-serif;
}

main img {}

main p {
    font-family: monospace;
}

main h2 {}

main h3 {}

main ul {}

main ul li {}

footer {}

footer a {}