.elementos-maiores{
    font-size: 21px;
}

body{
    background-color: rgb(4, 132, 165)
}

header{}

header nav{}

header nav ul{}

header nav ul li{}

header nav ul li a

main{}

main h1{
    font-family: sans-serif;
}

main img{}

main p{
    font-family: monospace;        
}

main h2{}

main h3{}

main ul{}

main ul li{}

footer{}

footer a{}